#
# {{ ansible_managed }}
#

$Conf{ClientNameAlias} = ['{{ hostvars[item.hostname].ansible_host }}'];
$Conf{XferMethod} = '{{ item.xfermethod | default("rsync") }}';
$Conf{ClientCharsetLegacy} = 'utf-8';

$Conf{BackupFilesOnly} = {
  '*' => [
     '/boot/grub/grub.cfg'
    ,'/etc/fstab'
    ,'/etc/network/interfaces'
    ,'/root/.ssh/'
    ,'/var/backups/'
{% if item.include_files is defined %}
{% for item in item.include_files %}
    ,'{{ item }}'
{% endfor %}
{% endif %}
  ]
};

{% if item.exclude_files is defined %}
$Conf{BackupFilesExclude} = {
  '*' => [
     '/tmp/'
{% for item in item.exclude_files %}
    ,'{{ item }}'
{% endfor %}
  ]
};
{% endif %}

{% if item.more is defined %}
# More options...
{% for key, value in item.more.items() %}
{% if value is string %}
$Conf{{ '{' }}{{ key }}{{ '}' }} = '{{ value }}';
{% else %}
$Conf{{ '{' }}{{ key }}{{ '}' }} = [
  {% for i in value %}'{{ i }}'{% if not loop.last %}, {% endif %}
{% endfor %}

];

{% endif %}
{% endfor %}
{% endif %}
